/* Version tablette */

@media screen and (min-width: 769px) and (max-width: 1024px) {

/* Barre de filtres */

    .filter-bar {
        gap: 15px;
    }

/* Section Hebergements and populaires */

    #accommodation-and-popular {
        flex-direction: column;
    }

/* Partie Hébergements à Marseille */
    .accommodation {
        width: auto;
    }

    .accommodation-cards-group {
        margin: auto;
    }

    .accommodation-card {
        width: 30%;
    }

    .accommodation-image img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

/* Partie Les plus populaires */
    .popular {
        width: auto;
    }

    .popular-card {
        width: 35%;
    }

    .popular-card a {
        min-width: none;
    }

    .popular-cards-group {
        flex-direction: row;
        gap: 20px;
    }

    .popular-image img {
        height: 136px;
        width: 86.5px;
    }

/* Section Activités à Marseille */

    .activities-image img {
        width: 193.5px;
        height: 200px;
        width: 100%;
    } 

}