/* Partie Les plus populaires */

.popular {
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    width: 26%;
}

/* Titre + icône */
.popular-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fa-chart-line {
    color: #0065FC;
}

/* Cartes */

.popular-cards-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.popular-card a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    border: 5px solid #FFFFFF;
    overflow: hidden;
    box-sizing: border-box;
    color: black;
}

.popular-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 15px rgb(0, 101, 252);
    border-radius: 20px;
}

.popular-image img {
    width: 118px;
    height: 134px;
    object-fit: cover;
    box-sizing: border-box;   
}

.popular-card .card-content {
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 58%;
}

.popular-card .card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.popular-card .card-subtitle {
    margin: 0;
}