/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

/* Partie header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 68px;
}

nav {
    display: flex;
    flex-direction: row;
}

#lien-hebergements, #lien-activites {
    height: 35px;
}

header img {
    height: 19px;
    margin-top: 30px;
    margin-left: 30px;

}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
}

/* Barre bleu au survol */
#lien-hebergements:hover {
    border-top: solid 2px #0065FC;
    padding-top: 20px;
    color: #0065FC;
}

#lien-activites:hover {
    border-top: solid 2px #0065FC;
    padding-top: 20px;
    color: #0065FC;
}

/* configuration ensemble main */

main {
    width: 1340px;
    padding: 0px 50px 0px 50px;
}

/*  */

h1 {
    font-weight: 700;
    font-size: 22px;
}

h2 {
    font-weight: 700;
    font-size: 22px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
}

span {
    font-weight: 700;
    font-size: 17px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

/* Partie info-group */
.info-group {
    gap: 35px;
}

button {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 50px;
    width: 173px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

/* Search bar */
form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#localisation {
    border: solid 1px #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
}

#localisation .fa-solid {
    text-align: center;
    width: 14px;
    height: 18px;
}

#destination {
    border: solid 1px #F2F2F2;
    border-radius: 0px 0px 0px 0px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    
}

#destination input {
    border: none;
}

#submit-button button {
    border: solid 1px #F2F2F2;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: #FFFFFF;
}

.search-bar .fa-magnifying-glass {
    visibility: hidden;
}

/*  */

.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.filter-bar > button {
    font-weight: 700;
    font-size: 17px;
    font-weight: bold;
    border: solid 2px #D9D9D9;
    background-color: #FFFFFF;
    width: auto;
    padding: 4px 19px 4px 19px;
    gap: 10px;
}

button:hover {
    background-color: #D9D9D9;
}

/* Partie infobar */

.infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#information {
    display: flex;
    flex-direction: row;
    border: solid 1px #D9D9D9;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

#information .fa-solid {
    justify-content: center;
    align-items: center;
    width: 4px;
    height: 10px;
    padding: 4px 9px 4px 9px;
}

/*  */
.card > img {
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Hébergements à Marseille */
.section-title {
    margin: 0;
    font-size: 22px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    width: 250px;
    height: 124px;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {

}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités à Marseille */
.activites-cards {
    display: flex;
    flex-direction: row;
}

.card-activites {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 297.5px;
    height: 439px;   
}


.card-activites img {
    width: 297.5px;
    height: 380px;
    object-fit: scale-down
}

/* Partie footer */

footer {
    height: 163px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #F2F2F2;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 15px;
    width: 30%;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Tall devices (desktop, more than 1024px */
@media screen and (min-widht:1024px) {





    .hebergements > .card {
        width: 250.33px;
        height: 207.25px;
    }

    .hebergements > img {
        box-sizing: border-box;
        height: 124px;
        width: 250.33px;
    }







}
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (min-widht: 767.98px),  (max-width: 1024px) {

    .hebergements > img {
        height: 124px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }



}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {





    /* ... */
}